@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: rgb(219, 219, 219);
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    font-size: 10vh;
}


* {
    margin: 0;
    padding: 0;
}
 
main {
    background-color: rgb(228, 228, 228);
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

label {
    margin-left: 20px;
}

input {
    font-size: 16px;
}

input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=submit] {
    font-size: 14px;
    width: 30%;
    padding: 6px;
    margin-left: 0%;
    box-sizing: border-box;
    background-color: lightgreen;
  }  


nav {
    width:100%;
    height: 110px;
    background-color: lightblue;
}

/* ul {
    margin-left: 50px;
} */


.header {
	text-shadow: .022em .022em .022em #bcbaba;
	margin: 10px;
    &:hover{
        text-shadow:0.5rem 0.5rem 0.5rem #a0a0a0;
    }
}/* 

 ul li {
    margin-top: 5px;
    width: 120px;
    list-style: none;
    display: inline-block;
    line-height: 100px;
    border: 1px solid black;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}


ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 0 20px;
}

ul li a:hover {
    color: white;
    background-color: black;
    box-shadow: 0 0 50px 15px white;
}  */

p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color:black;
    background-color: lightgray;
    font-size: 20px;
    padding: 20px;
}


.logo {
    max-width: 150px;
    max-height: 150px;

}

.create-delete-edit {
    text-align: center;
    margin-top: 2vh;
}

.create-btn, .delete-btn, .edit-btn {
    display: inline-block; 
    margin-right: 10px;
}

.create-btn button, .delete-btn button, .edit-btn button {
    border: none;
    min-width: 110px;
    min-height: 45px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bolder;
    transition: box-shadow 0.3s ease; 
}

.create-btn button {
    background-color: rgb(77, 115, 77); 
}

.delete-btn button {
    background-color: rgb(137, 89, 89);
}

.edit-btn button {
    background-color: rgb(177, 155, 112);
}

.create-btn button:hover,
.delete-btn button:hover,
.edit-btn button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.701);
}

table {
    width: 70%;
    border-collapse: collapse;
    border: 2px solid #ccc; 
    border-radius: 10px; 
    margin: auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px; 
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

td {
    min-width: 210px;
}

.details-btn-table {
    background-color: rgb(77, 115, 77); 
    min-height: 40px;
    min-width: 80px;
    border: none;
    border-radius: 15px;
    font-weight: bolder;
}

.delete-btn-table {
    background-color: rgb(137, 89, 89);
    min-height: 40px;
    min-width: 80px;
    border: none;
    border-radius: 15px;
    font-weight: bolder;
}

.edit-btn-table {
    background-color: rgb(177, 155, 112);
    min-height: 40px;
    min-width: 80px;
    border: none;
    border-radius: 15px;
    font-weight: bolder;
}

.details-btn-table:hover,
.delete-btn-table:hover,
.edit-btn-table:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.701);
}

.button-group {
    display: flex;
}

.button-group button {
    margin-right: 10px; /* Adjust the value as needed */
}

.table {
    width: max-content; /* Adjust the width as needed */
}

/* Add this rule to ensure the table does not extend beyond the button group */
.table td:last-child {
    white-space: nowrap;
}

.btn {
    min-width: 120px;
    min-height: 50px;
    margin-left: 5vh;
    font-weight: bolder;
    background-color: rgb(77, 115, 77);
    border: none;
    border-radius: 20px;
}

.btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.701);
}

.clickable {
    cursor: pointer;
}