@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #F5F5F5; /* Light gray background */
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    font-size: 10vh;
    color: #3E92CC; /* Primary color */
}

main {
    background-color: #FFFFFF; /* White background */
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px; /* Increased padding for better spacing */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

label {
    margin-left: 20px;
    color: #3E92CC; /* Primary color */
}

input {
    font-size: 16px;
}

.input-field {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #CCCCCC; /* Light gray border */
    border-radius: 5px; /* Slightly rounded corners */
}

input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #CCCCCC; /* Light gray border */
    border-radius: 5px; /* Slightly rounded corners */
}

input[type=submit] {
    font-size: 14px;
    width: 30%;
    padding: 10px;
    margin-left: 0%;
    box-sizing: border-box;
    background-color: #3E92CC; /* Primary color */
    color: #FFFFFF; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2975A3; /* Slightly darker shade of primary color */
}

nav {
    width: 100%;
    height: 110px;
    background-color: #3E92CC; /* Primary color */
}

p {
    margin: 20px 50px; /* Adjusted margin for better spacing */
    color: #333333; /* Dark gray text */
    font-size: 18px; /* Increased font size */
    padding: 20px;
    background-color: #FFFFFF; /* White background */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

a {
    text-decoration: none;
}

.logo {
    max-width: 150px;
    max-height: 150px;
}

.logo-main {
    max-width: 600px;
    max-height: 450px;
    margin: auto;
    margin-bottom: 5vh;
}

.logo-main-con {
    text-align: center;
    text-align: center;
}

.logo-alle_ansatte {
    max-width: 600px;
    max-height: 450px;
    /* max-width: 450px;
    max-height: 200px; */
    margin: auto;
    margin-bottom: 5vh;
}

.logo-alle_ansatte-con {
    text-align: center;
    text-align: center;
}

.main-pg-btn {
    text-align: center;
    margin-bottom: 5vh;
}

.create-delete-edit {
    text-align: center;
}


.create-btn button, .delete-btn button, .edit-btn button {
    border: none;
    min-width: 110px;
    min-height: 45px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bolder;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}




.create-btn button {
    background-color: #3E92CC; /* Primary color */
    color: #FFFFFF; /* White text */
}

.create-btn button:hover {
    background-color: #2975A3; /* Slightly darker shade of primary color */
}

.delete-btn button {
    background-color: #FF5A5F; /* Secondary color */
    color: #FFFFFF; /* White text */
}

.delete-btn button:hover {
    background-color: #CC4B50; /* Slightly darker shade of secondary color */
}

.edit-btn button {
    background-color: #FF5A5F; /* Secondary color */
    color: #FFFFFF; /* White text */
}

.edit-btn button:hover {
    background-color: #CC4B50; /* Slightly darker shade of secondary color */
}


table {
    width: 70%;
    border-collapse: collapse;
    border: 2px solid #CCCCCC; /* Light gray border */
    border-radius: 10px;
    margin: auto;
}


th, td {
    border: 1px solid #CCCCCC; /* Light gray border */
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #F5F5F5; /* Alternate row background color */
}

.details-btn-table, .delete-btn-table, .edit-btn-table {
    min-height: 40px;
    min-width: 80px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.details-btn-table {
    background-color: #3E92CC; /* Primary color */
    color: #FFFFFF; /* White text */
}

.details-btn-table:hover {
    background-color: #2975A3; /* Slightly darker shade of primary color */
}

.delete-btn-table {
    background-color: #FF5A5F; /* Secondary color */
    color: #FFFFFF; /* White text */
}

.delete-btn-table:hover {
    background-color: #CC4B50; /* Slightly darker shade of secondary color */
}

.edit-btn-table {
    background-color: #FF5A5F; /* Secondary color */
    color: #FFFFFF; /* White text */
}

.edit-btn-table:hover {
    background-color: #CC4B50; /* Slightly darker shade of secondary color */
}

.button-group {
    display: flex;
}

.button-group button {
    margin-right: 10px;
}

.table {
    width: max-content;
}

.table td:last-child {
    white-space: nowrap;
}

.alle-view-btn {
    min-height: 15px;
    min-width: 60px;
}

.btn {
    min-width: 120px;
    min-height: 50px;
    margin-left: 5vh;
    font-weight: bolder;
    background-color: #3E92CC;
    border: none;
    border-radius: 15px;
    color: white;
}

.btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.701);
}

.clickable {
    cursor: pointer;
}

.submit-btn {
    background-color: rgb(94, 179, 94);
    text-align: center;
    margin: auto;
    min-width: 200px;
    min-height: 60px;
    border-radius: 15px;
    font-weight: bolder;
    margin-top: 4vh;
    justify-content: center;
    margin-left: auto;
}

.submit-btn-container {
    text-align: center;
}

.submit-btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.701);
}

.back-btn {
    background-color: rgb(223, 69, 69);
    text-align: center;
    margin: auto;
    min-width: 200px;
    min-height: 60px;
    border-radius: 15px;
    font-weight: bolder;
    margin-top: 4vh;
    justify-content: center;
    margin-left: auto;
    border: none;
    color: white;
    min-width: 180px;
    min-height: 50px;
    font-size: 15px;
}

.back-btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.701);
    cursor: pointer;
}


.table2 {
    width: 50%;
    border: 2px solid #ccc; 
    border-radius: 10px; 
    margin: auto;
    white-space: nowrap;
    margin-top: 1vh;
    align-content: center;
    text-align: center;
}


.header-ansatte {
    margin-top: 10vh;
}

.detaljer_knapp {
    position: fixed;
    float: right;
    margin-left: 100vh;
}

.slider {
    margin-top: 5vh;
    overflow-x: auto;
}

.slide {
    display: flex;
    flex-wrap: wrap;
}

.bedrift {
    width: calc(20% - 10px); /* Adjust the width as needed */
    margin-bottom: 20px;
    text-align: center;
    scroll-snap-align: start;
    flex-direction: row; /* Ensure horizontal display */
    padding: 20px; /* Add padding for spacing */
}

.logo {
    width: 150px; /* Adjust the size of the logo */
    height: 150px; /* Adjust the size of the logo */
    display: block;
    margin: 0 auto 10px;
}


.bedrift-navn {
    font-size: 20px; /* Increase font size for better readability */
    font-weight: bold; /* Add boldness for emphasis */
    color: #333; /* Dark color for better contrast */
    text-transform: uppercase; /* Convert text to uppercase for a consistent look */
    margin-top: 5px; /* Add a small margin on top for spacing */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

.bedrift-navn:hover {
    color: #555; /* Darken the color slightly on hover for visual feedback */
}


/* Hide scrollbar */
.slider::-webkit-scrollbar {
    display: none;
}

#poststed {
    pointer-events: none;
}

.bsc-btn:hover {
    background-color: #2975A3; /* Slightly darker shade of primary color */
}

.bsc-btn {
    background-color: #3E92CC; /* Primary color */
    color: #FFFFFF; /* White text */
    border: none;
    min-width: 100%;
    min-height: 120%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;

}

.tilbake_fra_terms {
    min-height: 30px;
    min-width: 150px;
    background-color:rgb(94, 179, 94)
}

.terms_of_service {
    margin-left: 50px;
}

.alle-ansatte a {
    color: #FF5A5F; 
}

.alle-ansatte a:hover {
    color: #CC4B50;
}

.ansatte-search-box {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.reset-btn {
    min-height: 50px;
    min-width: 120px;
    margin-left: 10px;
    font-weight: bolder;
    background-color: #525658;
    border: none;
    border-radius: 15px;
    color: white;
}

.reset-btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.701);
}


.edit-input-container {
    display: flex;
    align-items: center;
}

.edit-input-container label {
    width: 150px;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
}


.alle-view-btn {
    border: none;
    min-width: 100px;
    min-height: 50px;
    color: white;
    border-radius: 15px;
    background-color: #3E92CC;
    
}

.alle-view-btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.701);
}

.all-view-table {
    margin-bottom: 100px;
}

.back-btn-create-bedrift {
    background-color: rgb(223, 69, 69);
    text-align: center;
    margin: auto;
    min-width: 200px;
    min-height: 60px;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 4vh;
    justify-content: center;
    margin-left: auto;
    border: none;
    color: white;
    min-width: 180px;
    min-height: 60px;
    font-size: 15px;
}

.back-btn-create-bedrift:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.701);
}

.sort-arrow {
    margin-left: 5px;
    }   

    .sort-arrow.asc::after {
        content:"⬆";
    }

    .sort-arrow.desc::after {
        content:"⬇";
    } 